<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="com.eyecile.test.database.dao.StoreDAO">
  
  		<select id="selectStoreList" resultType="com.eyecile.test.database.model.Store">
  		
  			select
  				`id`
  				, `name`
  				, `phoneNumber`
  				, `address`
  				, `businessNumber`
  				, `introduce`
  				, `createdAt`
  				, `updatedAt`
  			from
  				`store`;	
  			
  		
  		</select>
  
  </mapper>